body {
 background: #000;
}

.bingo-blitz__start-screen {
 position: fixed;
 top: 0;
 left: 50%;
 width: 100%;
 height: 100%;
 background: #fff url(./images/backgr.png) no-repeat center center;
 background-size: cover;
 z-index: 2;
 max-width: 1024px;
 transform: translateX(-50%);
 overflow: hidden;
 opacity: 1;
 visibility: visible;
 transition: 0.2s ease-in;
}

.bingo-blitz__sparks {
 position: absolute;
 right: 10px;
 top: 50px;
 width: 100%;
}

.bingo-blitz__logo {
 width: 50%;
 position: absolute;
 right: 0;
 top: 0;
 animation-duration: 1s;
 animation-fill-mode: both;
}

.bingo-blitz__foreground {
 background: transparent url(./images/foregraund.png) no-repeat top center;
 background-size: cover;
 position: absolute;
 bottom: 0;
 left: 0;
 width: 100%;
 height: 10%;
 animation-duration: 1s;
 animation-fill-mode: both;
}

.bingo-blitz__candice {
 position: absolute;
 bottom: 8%;
 width: auto;
 max-width: 60%;
 height: auto;
 max-height: 70%;
 animation-duration: 0.3s;
 animation-delay: 1s;
 animation-fill-mode: both;
}

.bingo-blitz__blitzy {
 position: absolute;
 bottom: 0;
 z-index: 1;
 max-width: 70%;
 max-height: 60%;
 left: 35%;
 animation-duration: 0.3s;
 animation-fill-mode: both;
 animation-delay: 1s;
}

.bingo-blitz__pan {
 position: absolute;
 left: 0;
 max-width: 45%;
 bottom: 0;
 transform: translateX(-50%);
}

.bingo-blitz__pin {
 position: absolute;
 bottom: 0;
 left: 92%;
 max-width: 25%;
}

.bingo-blitz__copyright {
 position: fixed;
 bottom: 0;
 left: 0;
 z-index: 3;
 color: #fff;
 font-size: calc(0.6rem + 0.1vw) !important;
 width: 100%;
 line-height: 1.2;
 padding: 0 5px;
 background: linear-gradient(0deg, rgba(57, 55, 73, 1) 0%, rgba(55, 55, 73, 0.4682247899159664) 82%, rgba(0, 0, 0, 0) 100%);
}

.bingo-blitz__copyright > span {
 display: flex;
 gap: 5px;
 width: 100%;
 justify-content: center;
 align-items: center;
}

.bingo-blitz__copyright > span > span {
 flex: 0 0 100px;
 max-width: 100px;
}

.bingo-blitz__copyright img {
 max-width: 100%;
}

.bingo-blitz__start-game-wrapper {
 position: fixed;
 z-index: 3;
 bottom: 70px;
 width: 100%;
 text-align: center;
 animation-duration: 0.4s;
 animation-fill-mode: both;
 animation-delay: 1.3s;
}

.bingo-blitz__start-game {
 appearance: none;
 border: none;
 background: transparent;
 padding: 0;
 max-width: 80%;
 display: inline-block;
 animation-duration: 0.4s;
 animation-fill-mode: both;
 animation-delay: 1.7s;
 animation-duration: 1.5s;
 animation-iteration-count: infinite;
}

.bingo-blitz__start-game img {
 max-width: 100%;
 height: auto;
}

.bingo-blitz__restart-game {
 appearance: none;
 border: none;
 background: transparent;
 padding: 0;
 position: absolute;
 bottom: 30px;
 right: 25px;
 z-index: 4;
 width: 45px;
 height: 45px;
 animation-duration: 0.4s;
 animation-fill-mode: both;
 animation-delay: 1.7s;
}

.bingo-blitz__restart-game img {
 max-width: 100%;
}

.bingo-blitz__game {
 position: fixed;
 top: 0;
 left: 50%;
 width: 100%;
 height: 100%;
 background: #fff url(./images/backgrkitchen.png) no-repeat center center;
 background-size: cover;
 z-index: 1;
 max-width: 1024px;
 transform: translateX(-50%);
 overflow: hidden;
}

.bingo-blitz__logo--game {
 right: 50%;
 transform: translateX(50%);
 animation: unset !important;
}

.bingo-blitz__kitchentable {
 background: transparent url(./images/kitchentable.png) no-repeat bottom center;
 position: fixed;
 bottom: 0;
 left: 0;
 width: 100%;
 height: 60%;
 background-size: cover;
}

.plate {
 width: 40%;
 position: absolute;
 top: 0;
 left: 5%;
}

.bingo-blitz__plate {
 width: 100%;
 height: auto;
 z-index: 1;
}

.plate--2 {
 left: auto;
 right: 5%;
}

.plate--3 {
 top: 20%;
 left: 30%;
}

.bingo-blitz__dish {
 position: absolute;
 z-index: 2;
 left: 50%;
 transform: translateX(-50%);
 bottom: 20px;
 width: 55%;
}

.bingo-blitz__maindish {
 position: absolute;
 left: 50%;
 transform: translateX(-50%);
 bottom: 15px;
 width: 85%;
 z-index: 3;
 transition: 0.2s ease-in;
}

.plate.opened .bingo-blitz__maindish {
 bottom: 180%;
 transform: translateX(-70%) rotate(-35deg);
}

.bingo-blitz__blitzy-tip {
 position: fixed;
 bottom: 0;
 left: 40%;
 width: 70vw;
 height: 45vh;
 animation-duration: 0.4s;
 animation-fill-mode: both;
 animation-delay: 0.1s;
}

.bingo-blitz__blitzy-tip--blitzy {
 max-width: 100%;
 height: 100%;
 z-index: 2;
 position: absolute;
 bottom: 0;
 left: 0;
}

.bingo-blitz__blitzy-tip--hand {
 position: absolute;
 left: -30%;
 bottom: 38px;
 width: 65%;
 z-index: 1;
 animation-iteration-count: infinite;
 transform: rotate(3deg);
 animation-fill-mode: both;
 animation-duration: 1.2s;
 animation-delay: 0.5s;
}

.bingo-blitz__win,
.bingo-blitz__fail {
 display: none;
}

.bingo-blitz__game-result {
 position: fixed;
 left: 0;
 top: 0;
 width: 100%;
 height: 100%;
 z-index: 4;
 animation-fill-mode: both;
 animation-duration: 0.3s;
 animation-delay: 0.5s;
 visibility: hidden;
}

.bingo-blitz__game-result img {
 position: absolute;
 left: 50%;
 transform: translateX(-50%) translateY(-50%);
 max-width: 125%;
 top: 40%;
}

@media (min-width: 474.98px) {
 .bingo-blitz__pin {
  left: 85%;
 }
}
/* ACTIVE START SCREEN */
.bingo-blitz.menu .bingo-blitz__logo {
 animation-name: bounceInDown;
}
.bingo-blitz.menu .bingo-blitz__foreground,
.bingo-blitz.menu .bingo-blitz__start-game-wrapper,
.bingo-blitz.game .bingo-blitz__blitzy-tip {
 animation-name: bounceInUp;
}
.bingo-blitz.menu .bingo-blitz__blitzy {
 animation-name: blitzy;
}
.bingo-blitz.menu .bingo-blitz__candice {
 animation-name: candice;
}
.bingo-blitz.menu .bingo-blitz__start-game {
 animation-name: pulse;
}
.bingo-blitz.menu .bingo-blitz__restart-game {
 animation-name: slideInRight;
}
.bingo-blitz.game .bingo-blitz__blitzy-tip--hand {
 animation-name: tip;
}
.bingo-blitz.win .bingo-blitz__blitzy-tip,
.bingo-blitz.fail .bingo-blitz__blitzy-tip {
 animation-name: bounceOutDown;
}

.bingo-blitz.fail .bingo-blitz__fail {
 display: block;
}
.bingo-blitz.win .bingo-blitz__win {
 display: block;
}

.bingo-blitz.fail .bingo-blitz__game-result,
.bingo-blitz.win .bingo-blitz__game-result {
  animation-name: stamp;
  visibility: visible;
}
/* active game screen */
.bingo-blitz.game .bingo-blitz__start-screen {
 opacity: 0;
 visibility: hidden;
}
/* Animation */
@keyframes bounceInDown {
 from,
 60%,
 75%,
 90%,
 to {
  animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
 }
 0% {
  opacity: 0;
  transform: translate3d(0, -3000px, 0) scaleY(3);
 }
 60% {
  opacity: 1;
  transform: translate3d(0, 25px, 0) scaleY(0.9);
 }
 75% {
  transform: translate3d(0, -10px, 0) scaleY(0.95);
 }
 90% {
  transform: translate3d(0, 5px, 0) scaleY(0.985);
 }
 to {
  transform: translate3d(0, 0, 0);
 }
}
@keyframes bounceInUp {
 from,
 60%,
 75%,
 90%,
 to {
  animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
 }
 from {
  opacity: 0;
  transform: translate3d(0, 3000px, 0) scaleY(5);
 }
 60% {
  opacity: 1;
  transform: translate3d(0, -20px, 0) scaleY(0.9);
 }
 75% {
  transform: translate3d(0, 10px, 0) scaleY(0.95);
 }
 90% {
  transform: translate3d(0, -5px, 0) scaleY(0.985);
 }
 to {
  transform: translate3d(0, 0, 0);
 }
}
@keyframes candice {
 from,
 to {
  animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
 }
 from {
  opacity: 0;
  transform: translate(-60%, -100vh);
 }
 to {
  transform: translate(0, 0);
  opacity: 1;
 }
}
@keyframes blitzy {
 from,
 to {
  animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
 }
 from {
  transform: translate(60%, -100vh);
  opacity: 0;
 }
 to {
  transform: translate(0, 0);
  opacity: 1;
 }
}
@keyframes pulse {
 from {
  transform: scale(1);
 }
 50% {
  transform: scale(1.05);
 }
 to {
  transform: scale(1);
 }
}

@keyframes slideInRight {
 0% {
  transform: translate3d(100vw, 0, 0);
  visibility: visible;
 }
 to {
  transform: translateZ(0);
 }
}

@keyframes tip {
 0% {
  transform-origin: right;
  transform: rotate(3deg);
 }
 50% {
  transform-origin: right;
  transform: rotate(-8deg);
 }
 to {
  transform-origin: right;
  transform: rotate(3deg);
 }
}

@keyframes bounceOutDown {
 20% {
  transform: translate3d(0, 10px, 0) scaleY(0.985);
 }
 40%,
 45% {
  opacity: 1;
  transform: translate3d(0, -20px, 0) scaleY(0.9);
 }
 to {
  opacity: 0;
  transform: translate3d(0, 2000px, 0) scaleY(3);
 }
}

@keyframes stamp {
  from,
 60%,
 75%,
 90%,
 to {
  animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  
 }
 
 0% {
  opacity: 0;
  transform: translate3d(0, 10%, 0) scale(1.9);
  visibility: hidden;
 }
 
 5% {
   visibility: visible;
 }
 
 60% {
  opacity: 1;
  transform: translate3d(0, 0, 0) scale(0.95);
  
 }
 
 65% {
  transform: scale(1);
 }
 
 70% {
  transform: scale(0.98);
 }
 
 75% {
  transform: scale(1.02);
 }
 
 80% {
  transform: scale(0.98) ;
 }
 
 85% {
   transform: scale(1.02) ;
 }
 
 90% {
  transform: scale(0.98);
 }
 
 to {
  transform: scale(1);
 }
}
